:root {
  --color-scrollbar: rgba(179, 179, 179, 0.5);
  --color-scrollbartrackhover: rgba(179, 179, 179, 0.6);
  --color-scrollbartrackdrag: rgba(179, 179, 179, 0.8);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbartrackhover);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scrollbartrackdrag);
}

:focus::-webkit-scrollbar-thumb {
  background-color: var(--figma-color-bg-brand);
}

:focus::-webkit-scrollbar-thumb:hover {
  background-color: var(--figma-color-bg-brand-hover);
}

:focus::-webkit-scrollbar-thumb:active {
  background-color: var(--figma-color-bg-brand-pressed);
}
