.code {
  overflow: hidden;

  &.block code {
    display: block;
    white-space: pre;
  }

  &.block code {
    overflow: auto;
  }
}

.figma-light {
  .code {
    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-type {
      color: #cf222e;
    }

    .hljs-template-variable,
    .hljs-variable.language_ {
      color: #24292f;
    }

    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
      color: #8250df;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-variable {
      color: #0550ae;
    }

    .hljs-meta .hljs-string,
    .hljs-regexp,
    .hljs-string {
      color: #0a3069;
    }

    .hljs-built_in,
    .hljs-symbol {
      color: #e36209;
    }

    .hljs-code,
    .hljs-comment,
    .hljs-formula {
      color: #6e7781;
    }

    .hljs-name,
    .hljs-quote,
    .hljs-selector-pseudo,
    .hljs-selector-tag {
      color: #22863a;
    }

    .hljs-subst {
      color: #24292e;
    }

    .hljs-section {
      color: #005cc5;
      font-weight: 700;
    }

    .hljs-bullet {
      color: #735c0f;
    }

    .hljs-emphasis {
      color: #24292e;
      font-style: italic;
    }

    .hljs-strong {
      color: #24292e;
      font-weight: 700;
    }

    .hljs-addition {
      color: #22863a;
      background-color: #f0fff4;
    }

    .hljs-deletion {
      color: #b31d28;
      background-color: #ffeef0;
    }
  }
}

.figma-dark {
  .code {
    .hljs-keyword,
    .hljs-literal,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-strong,
    .hljs-tag {
      color: #f92672;
    }

    .hljs-code {
      color: #66d9ef;
    }

    .hljs-attribute,
    .hljs-link,
    .hljs-regexp,
    .hljs-symbol {
      color: #bf79db;
    }

    .hljs-addition,
    .hljs-built_in,
    .hljs-bullet,
    .hljs-emphasis,
    .hljs-section,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-string,
    .hljs-subst,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-title,
    .hljs-type,
    .hljs-variable {
      color: #a6e22e;
    }

    .hljs-class .hljs-title,
    .hljs-title.class_ {
      color: #fff;
    }

    .hljs-comment,
    .hljs-deletion,
    .hljs-meta,
    .hljs-quote {
      color: #75715e;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-literal,
    .hljs-section,
    .hljs-selector-id,
    .hljs-selector-tag,
    .hljs-title,
    .hljs-type {
      font-weight: 700;
    }
  }
}
