@use "theme";

.container {
  display: grid;
  align-content: start;

  @each $name, $value in theme.$space {
    &.x-#{$name} {
      padding-left: #{$value};
      padding-right: #{$value};
    }

    &.y-#{$name} {
      padding-top: #{$value};
      padding-bottom: #{$value};
    }
  }
}
